body{
	background-color: rgb(107, 139, 172);
	margin: 0 !important;
	overflow-x: hidden;
}
#page-container {
	position: relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: 2.5rem;

}
#footer{
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}
span{
	background-color: rgb(155, 37, 37);
	
	}
h1{
	color: #222222

}
.list{
	float: left;
	width: 10%;
	min-height: 100vh;
	background-color: rgb(33, 87, 187);
}

.content{
	float: left;
	width: 90%;
	background-color: rgba(200, 216, 221, 0.966);
	min-height: 100vh;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
.padded {
	padding: 0px;
}
