.contain{
	position: absolute;
	bottom: 0;

}
.navf{
	border-top: 1px solid #FFFFFF;
	margin-bottom: -5px;
	width: 100%;
	padding: 5px;

	font-weight: bolder;

	background-color:rgb(71, 167, 212);
	text-align: center;
    list-style: none;
	display: inline-block;
}

.nav-bottomf{
	margin-bottom: 5px;
	font-weight: bolder;
	font-size: 18px;
	list-style: none;
	display: inline-block;



}

.list-itemf {
	display: inline-block !important;
	margin: 5px;
}

.nav-itemf {
	color: rgba(1,1,1,0.5);
	cursor: pointer;
	transition-duration: 0.3s;
}

.nav-itemf:hover {
	color: rgba(1,1,1,1);
	transition-duration: 0.3s;
}
